html, body
{
    padding: 0;
    margin: 0;
	width:100%;
	height: 100%;
}

#wrapper {
	display:none;
}
.channel {
	display: none;
	margin-top:20px;
}
.channel.active {
	display: block;
}
.server-container {
	color:#FFF;
}
.add-channel {
	cursor: pointer;
}
.channel-messages {
	overflow: auto;
	font-size: 12px;
	line-height: 1;
}
.channel-users {
  list-style-type: none;
}